{%extends "main/header.html"%}

	{% block content %}
	{% load crispy_forms_tags %} 
	{% load socialaccount %}
	{% load static %} 

	<!--Login--> 
	<div class="container py-5">
	    <h1 class="font-weight-bold">Login</h1>
		<div class=" signin text-center">

			<a href="{% provider_login_url 'google' %}" class="text-dark"> <img src="{% static 'img/google.png' %}" style="width:8rem; height:auto"></a>
		  </div>
		
		  <br><br>
		
		  <div style="width: 100%; height: 15px; border-bottom: 1px solid lightgray; text-align: center">
			<span class="text-muted" style="margin-top:-15% !important; font-size: 11px; background-color: white; padding: 0px 10px;">
			  OR
			</span>
		  </div>
	    <hr>
	    <br>
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<br>
			<button class="btn btn-primary" type="submit">Login</button>
		</form>
		<br><br>
	</div>

	{% endblock %}
